* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #dd8410;
}

.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #df8920;
    margin-bottom: 50px;
}

.question {
    color: #ff6b35;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
}

.options {
    color: black;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    margin-left: 20px;
}

.options input {
    margin-right: 5px;
}


.options label {
    display: block;
    margin-bottom: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: transparent;
    color: #ff6b35;
    border: 1px solid #df8920;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #c76917;
}

.result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}